h1{color:#ffffff;font-size:100px;font-weight:bold;text-align:center;}

html{
	background:url(shops_picture.jpg) no-repeat center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
 background-size:cover;
}
