<html>

<head>
<link rel="stylesheet" type="text/css" href="../static/css/Shops.css">
</head>

<body>
<div>
	<input type="button" name="button" value="Home" style="width:100px;height:50px;color : #DB944D;font-size :20px;  background : transparent ;border: #DB944D  ;border-style: solid;
border-width: 2px;"onclick="location.href='old_city';">
</div>	

<div>
<h1>Shops</h1>
</div>

<div>
<form id="form1" action="changeShop">
{% csrf_token %}
<select form="form1">
{% for shop in shops%}
	<option value="{{ shop.name }}" name="shop"></option>
{% endfor %}
</select>
<input type="submit" value="Submit">
</form>

<form name="input" action="shop" method="post">
	{% csrf_token %}

	Name:<input type="text" name="name"><br>
	Location:<input type="text" name="location"><br>
	Description:<input type="text" name="description">

	<button type="submit" value="submit">Submit</button>
	</form>
</div>

</body>

</html>
