<html>

<head>
<link rel="stylesheet" type = "text/css" href = "../static/css/About.css">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript"src="{{STATIC_URL}}js/about.js">
</script>
</head>

<body>
<a href ="#" class="button orange"  onclick="location.href='../';">Home</a>



<div>
<h1>
Who We Are :
</h1>
</div>


<div>
<p id=F>
We're a group of MEET students working on making a website for the old city of Jerusalem, where you can enter as a customer, a shopkeeper or a tourist and you can see the shops there and get more information about the place. 
<br>
Customers and Tourists, you can find shops, in addition the tourists can find hotels, resturants and archetectural sites in the Old City and around it.
</p>
</div>
</body>

</html>
