<html>

<head>
<link rel="stylesheet" type = "text/css" href = "{{STATIC_URL}}css/Home.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src= "{{STATIC_URL}}js/home.js">
</script>
</head>

<body>

<h1>
The Old City <br>
Of Jerusalem
</h1>

<form class=HB>


<input id=D type="button" name="button" value="About" onclick="location.href='About';">

<br>
<br>
<br>


<input id = A type="button" name="A" value="Tourists" onclick="location.href='Tourists';">


<br>
<br>
<br>

<input id = B type="button" name="B" value="Customers" onclick="location.href='customers';">




</form>
</body>




</html>
