<html>

<head>
<link rel="stylesheet" type = "text/css" href = "{{STATIC_URL}}css/Home.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src= "{{STATIC_URL}}js/home.js">
</script>
</head>

<body>

<h1>
The Old City <br>
Of Jerusalem
</h1>

<form class=HB>
<span>

<a href ="#" class="button orange"  onclick="location.href='About';">About</a>

<a href ="#" class="button orange"  onclick="location.href='Hotels';">Hotels</a>

<a href ="#" class="button orange"  onclick="location.href='displayForum';">Forum</a>

<br>
<br>

<a href ="#" class="button orange"  onclick="location.href='map';">Map</a>

<a href ="#" class="button orange"  onclick="location.href='Arche_Sites';">Architectural Sites</a>

<a href ="#" class="button orange"  onclick="location.href='Shops';">Shops</a>

<br>
<br>

<a href ="#" class="button orange"  onclick="location.href='Resturants';">Resturants</a>
</span>




</form>
</body>




</html>
