<html>

<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript"src="{{STATIC_URL}}js/shops.js">
</script>	
<link rel="stylesheet" type="text/css" href="../static/css/Shops.css">
<style type="text/css">

#addShop
{
display: none
}
#addReview
{
	display: none
}
</style>
<script type="text/javascript">
function add_shop()
{
document.getElementById("addShop").style.display = 'block';
}
function add_review()
{
document.getElementById("addReview").style.display = 'block';	
}
</script>
</head>

<body>

<div>
	<input type="button" name="button" value="Home" style="width:100px;height:50px;color : #DB944D;font-size :20px;  background : transparent ;border: #DB944D  ;border-style: solid;
border-width: 2px;"onclick="location.href='old_city';">
</div>	


<div>
<h1>Shops</h1>


</div>

<div id = "choose_shop">
	{{pageShop.name}}
<form id="form1" action="changeShop" method="POST">
{% csrf_token %}
<select form="form1" name="shop">
{% for shop in shops%}
	<option value="{{ shop.name }}" name="{{ shop.name }}">{{ shop.name }}</option>
{% endfor %}
</select>
	<button type="submit" value="submit"<a href ="#" class="button orange"></a>submit</button>
</form>
</div>



<div id="addShop">
<form name="input" action="shop" method="post">
	{% csrf_token %}
	
	<table>
		<tr>
			<td>
				Name:
			</td>
			<td>
				<input type="text" name="name">
			</td>
		</tr>
		<tr>
			<td>
				Location:
			</td>
			<td>
				<input type="text" name="location">
			</td>
		</tr>
	<tr>
			<td>
				Description:
			</td>
			<td>
				<input type="text" name="description">
			</td>
		</tr>

	</table>
	<button type="submit" value="submit"<a href ="#" class="button orange"></a>submit</button>
	
</form>


</div>


<form>
		<a href ="#" class="button orange" onclick="javascript:add_shop()">add shop</a>
		

</form>	

<form name="input" action="review" method="post">
	{% csrf_token %}
	<input id="{{ pageShop.name }}" type="hidden" value="{{ pageShop.name }}" name="shop">
	
	
	<div id="addReview">
	<table>	<tr>
			<td>
				Full Name:
			</td>
			<td>
				<input type="text" name="fullName">
			</td>
		</tr>
	<tr>
			<td>
				Review:
			</td>
			<td>
				<input type="text" name="review">
			</td>
		</tr>
	</table>
		<button type="submit" value="submit"<a href ="#" class="button orange"></a>submit</button>
	</div>
	<br>
	<form>
		<a href ="#" class="button orange" onclick="javascript:add_review()">add review</a>
		
	</form>
	
</form>


</div>
<div>
	{% for review in reviews %}
		{{ review.name }}<br>
		{{ review.review }}<br>
		{{ review.shop.name }}<br><br>
	{% endfor %}
</div>



</body>

</html>
