<html>

<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript"src="{{STATIC_URL}}js/shops.js">
</script>	
<link rel="stylesheet" type="text/css" href="../static/css/Shops.css">
<style type="text/css">

#addShop
{
display: none
}
#addReview
{
	display: none
}
</style>
<script type="text/javascript">
function add_shop()
{
document.getElementById("addShop").style.display = 'block';
}
function add_review()
{
document.getElementById("addReview").style.display = 'block';	
}
</script>
</head>

<body>


	<a href ="#" class="button orange"  onclick="location.href='../';">Home</a>

	

<div>
<h1>Shops</h1>


</div>

<div id = "choose_shop">
	<h3 style="color : #DB944D;">Name: {{pageShop.name}}<h3>
	<h3 style="color : #DB944D;">Location: {{pageShop.location}}<h3>
	<h3 style="color : #DB944D;">Description: {{pageShop.description}}<h3>
<form id="form1" action="changeShop" method="POST">
{% csrf_token %}
<select id="SELECT" form="form1" name="shop">
{% for shop in shops%}
	<option value="{{ shop.name }}" name="{{ shop.name }}">{{ shop.name }}</option>
{% endfor %}
</select>
	<button type="submit" value="submit"<a href ="#" class="button orange"></a>submit</button>
</form>
</div>


<form>
		<a href ="#" class="button orange" onclick="javascript:add_shop()">add shop</a>
		

</form>	

<div id="addShop">
<form name="input" action="shop" method="post">
	{% csrf_token %}
	
	<table id ="t1">
		<tr>
			<td >
				Name:
			</td>
			<td>
				<input type="text" name="name"style="color : #ffffff;font-size :20px; background:  #DB944D;border: none ;">
			</td>
		</tr>
		<tr>
			<td>
				Location:
			</td>
			<td>
				<input type="text" name="location"style="color : #ffffff;font-size :20px; background:  #DB944D;border: none ;">
			</td>
		</tr>
	<tr>
			<td>
				Description:
			</td>
			<td>
				<input type="text" name="description"style="color : #ffffff;font-size :20px; background:  #DB944D;border: none ;">
			</td>
		</tr>
		
	
	</table>
	<button type="submit" value="submit" href ="#" class="button orange">submit</button>
	
</form>


</div>



<form name="input" action="review" method="post">
	{% csrf_token %}
	<input id="{{ pageShop.name }}" type="hidden" value="{{ pageShop.name }}" name="shop">

		<a href ="#" class="button orange" onclick="javascript:add_review()">add review</a>

	<div id="addReview">
	<table id="t2">	<tr>
			<td>
				Full Name:
			</td>
			<td>
				<input type="text" name="fullName"style="color : #ffffff;font-size :20px; background:  #DB944D;border: none ;">
			</td>
		</tr>
	<tr>
			<td>
				Review:
			</td>
			<td>
				<input type="text" name="review"style="color : #ffffff;font-size :20px; background:  #DB944D;border: none ;">
			</td>
		</tr>
	</table>
		<button type="submit" value="submit"<a href ="#" class="button orange"></a>submit</button>
		</form>
	</div>
	<br>
	

<div id="remove">
<form name="rr" action="removeReview" method="post">
{% csrf_token %}
<input id="{{ pageShop.name }}" type="hidden" value="{{ pageShop.name }}" name="shop">
<select id="review" name="review">
{% for shop in shops%}
	<option id="{{shop.name}}" value="{{ shop.name }}" name="{{ shop.name }}">{{ shop.name }}</option>
{% endfor %}
</select>
<button type="submit" value="submit"<a href ="#" class="button orange"></a>delete</button>
</form>
</div>

</div>
<div>
	{% for review in reviews %}
	{% if review.name != '' and review.review != '' %}
	<div id="review" style="width:400px;color : #DB944D;font-size :20px;  background : transparent ;border: #DB944D  ;border-style: solid;
border-width: 2px;">
		Name: {{ review.name }}<br>
		Review: {{ review.review }}<br>
	</div>
	{% endif %}
	{% endfor %}
</div>



</body>

</html>
