<html>
<head>
<link rel="stylesheet" type = "text/css" href = "../static/css/Tourists.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">
</script>
</head>
<body>

<h1> Welcome Tourists </h1>

<span>
<table>
<tr> 
<input type="button" name="button" value="Home" style="width:200px;height:50px;color : #DB944D;font-size :20px; background: transparent;border: none  ;" onclick="location.href='old_city';">

<input type="button" name="button" value="Shops" style="width:200px;height:50px;color : #DB944D;font-size :20px; background: transparent;border: none ;"onclick="location.href='Shops';">

<input type="button" name="button" value="Archetectural Sites" style="width:250px;height:50px;color : #DB944D;font-size :20px; background: transparent;border: none ;"onclick="location.href='Arche_Sites';">

<input type="button" name="button" value="Hotels" style="width:200px;height:50px;color : #DB944D;font-size :20px;  background: transparent;border: none;"onclick="location.href='Hotels';">

<input type="button" name="button" value="Resturants" style="width:200px;height:50px;color : #DB944D; font-size :20px; background: transparent;border: none;"onclick="location.href='Resturants';">



</tr>
</table>
</span>

<img src="http://www.jerusalemshots.com/i/old_city/Jerusalem-Old-City-View4.jpg" alt="picture" style="width: 550px;
height: 550px">

<div id=round>
<input type="button" name="button" value="" style="width=1;height=1;-moz-border-radius: 35px;border-radius: 35px;background: #DB944D;">
</div>

</body>
</html>
