<html>

<head>
<link rel="stylesheet" type="text/css" href="../css/Shops.css">
</head>

<body>

<div>
<h1>Shops</h1>
</div>

<div>
<p>a place for the list of the shops</p>
</div>
Souk Khan al-Zeit and El-Wad streets -> these streets contain numerous souvenir shops and cafes catering to tourists ,  Butchers, Western clothing stores, hardware shops, and groceries can be found throughout the area.

The Suq El Attaria ->You will find shops ranging from souvenirs to greengrocers to traditional clothing. 

The lanes and alleys in and near the Christian quarter abound in shops displaying icons and other churchy items

Armenian ceramics. With white and a rich blue as the base colors, and bright paintings on them, they are a distinct souvenir. The street signs throughout the old quarter are made of Armenian ceramics, and a few shops will produce custom nameplates and tile signs with a short turnaround time. Ceramics from Hebron are also popular with tourists. 

The Cardo->  the shops here specialise in arts and crafts, jewelry, Judaica, Dead Sea beauty products, quality souvenirs and T-shirts, amongst other things


</body>

</html>
