
h1 {color : #DB944D; font-size :100px;font-weight : bold;text-shadow ;text-align:center;
text-shadow: 5px 5px 5px black;}
#HB {color:#462B0F; text-shadow ;text-shadow: 5px 5px 5px black;text-align:center;}

body {text-align:center; }

html { 
  background: url(http://1.bp.blogspot.com/_V0EJcthPaew/TACgCryEUdI/AAAAAAAAGZs/7eDoHLm6Wto/s1600/DSC06454.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

